services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - front
    depends_on:
      - app
  app:
    image: python:3.12-slim
    container_name: app
    command: python -m server 3000
  networks:
    - front
    - back
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: estu
      POSTGRES_PASSWORD: estu
      POSTGRES_DB: estu
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - back
networks:
    front:
    back:
volumes:
    pgdata: